# Backend API URL
VITE_API_URL=https://express-mongo-db-study-nook-server.vercel.app

# Add http://localhost:5173 to Authorized JavaScript origins
VITE_GOOGLE_CLIENT_ID=1004888369421-4b4k7ddui2pmindafnij0hgppqn9fmdf.apps.googleusercontent.com